// FOOTER

.footer{
    background-color: $mainNavy;
    border-bottom: 4px solid $accentColor;
    border-top: 4px solid $accentColor;
}

.footer__section--logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        height: 30px;
    };
    .blueprint__logo{
            height: 80px;
    };
};
