// FOOTER

.footer{
    background-color: $mainNavy;
    border-bottom: 4px solid $accentColor;
    border-top: 4px solid $accentColor;
}

.footer__section--logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        height: 30px;
    };
    .blueprint__logo{
            height: 80px;
    };
};

.footer__section--develop{
    text-align: center;
    p{
        @include fontSizePar(8);
        color: white;
        margin: 0;
        font-weight: 100;
        font-style: italic;
    };
};