// HEADER SECTION

header{
    // background-color: $mainNavy;
    height: 100vh;
    border-top: 4px solid $accentColor;
    border-bottom: 4px solid $accentColor;
    background-image: url("../assets/cityskyline2-overlay.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section__one{
    height: 100%;
}

.section__one--logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section__one--logo img{
    height: 100px;
}


.section__one--title{
    @include fontSize(30);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: white;
    margin-top: 10%;
    text-shadow: 3px 3px 1px $mainNavy;
    line-height: 65px;
}

// MEDIA BREAKS
@media only screen and (max-width: 600px){
    .section__one--logo img{
        height: 70px;
    };

    .section__one--title{
        @include fontSize(18);
        width: 90%;
        margin-top: 15%;
    };
};


@media only screen and (max-width: 480px){
    header{
        height: 40vh;
    };

    .section__one--logo img{
        height: 50px;
    };

    .section__one--title{
        @include fontSize(12);
        text-align: center;
        width: 80%;
        margin: 0 auto;
        color: white;
        font-weight: normal;
        margin-top: 15%;
        text-shadow: 2px 2px 2px #393939;
    };
};