// HEADER SECTION

header{
    background-color: $mainNavy;
    height: 50vh;
    border-top: 4px solid $accentColor;
    // background-image: url("../assets/OlaBackground.jpg");
}

.headerLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerLogo img{
    height: 100px;
}


.title{
    @include fontSize(20);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    color: white;
    font-weight: normal;
    margin-top: 5%;
}

// MEDIA BREAKS
@media only screen and (max-width: 600px){
    .headerLogo img{
        height: 70px;
    };

    .title{
        @include fontSize(18);
        width: 90%;
        margin-top: 15%;
    };
};


@media only screen and (max-width: 480px){
    header{
        height: 40vh;
    };

    .headerLogo img{
        height: 50px;
    };

    .title{
        @include fontSize(12);
        text-align: center;
        width: 80%;
        margin: 0 auto;
        color: white;
        font-weight: normal;
        margin-top: 15%;
        text-shadow: 2px 2px 2px #393939;
    };
};