// RESULTS SECTION

.diagonalTwo{
    border-width: 0 100vw 90px 0;
    border-bottom-color: white;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: $softGrey;
    position: relative;
};

.section__four{
    padding: 50px 0;
};

// RESULTS - TOP SECTION 
.section__four--contentTop{
    text-align: center;
    h2{
       @include fontSizeText(18);
    };
};

// RESULTS - BOTTOM SECTION
.section__four--contentBottom{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mainNavy;
    border-radius: 20px;
    margin: 0 auto;

    .section__four--whatWorks{
        p{
            @include fontSizePar(12);
            color: white;
            margin: 4% auto;
            text-align: center;
            width: 80%;
            span{
                color: $accentColor;
            }
        };
    };

    .section__four--mainResults{
        display: flex;
        flex-direction: row;
        align-items: center;
    };

    .results__content, .results__discover{
        width: 50%;
    };

    .stats{
        color: $accentColor;
    };
};

.results__content--stat{
    display: flex;
    align-items: center;
    img{
        height: 45px;
    };

    p{
        @include fontSizePar(12);
        margin-left: 8px;
        color: white;
    };
};

.results__discover{
    @include fontSizePar(12);
};

.results__discover--container{
    padding: 30px;
    text-indent: 5px;
    color: white;
    .whatWorks{
        font-weight: bold;
    };
};

ul{
    padding: 10px;
}

.results__discover--list span{
    @include fontSizePar(12);
    color: white;
};

.results__discover--listItem{
    color: $accentColor;
    margin: 10px;
};

// MEDIA BREAKS

@media only screen and (max-width: 1230px){
    .section__four--contentBottom{
        width: 100%;
    };
};

@media only screen and (max-width: 1020px){
    .section__four--contentTop{
        text-align: center;
        h2{
            @include fontSizeText(18);
        };
    };

    .section__four--contentBottom{
        .results__content, .results__discover{
            width: 90%;
        };

        .section__four--mainResults{
            flex-direction: column-reverse;
        };
    };

    .results__content--stat{
        justify-content: center;
        p{
            @include fontSizePar(10);
            color: white;
        };
    };

    .results__discover{
        @include fontSizePar(10);
        text-align: center;
    };

    .results__discover--container{
        padding: 10px;
    };

    .results__discover--list span{
        @include fontSizePar(10);
        color: white;
    };

};

@media only screen and (max-width: 650px){
    .section__four--contentBottom{
        .results__content, .results__discover{
            width: 100%;
        };

        .section__four--whatWorks{
            p{
                width: 90%;
            };
        };
    };
};

@media only screen and (max-width: 480px){
    .section__four--contentTop{
        h2{
            @include fontSizeText(13);
        };
    };

    .results__content--stat{
        text-align: left;
    };
};
