// STRATEGY SECTION

.section__three{
    background-color: $softGrey;
    .section__three--container{
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        align-items: center;
    };
};

.section__three--image{
    width: 60%;
    img{
        height: 300px;
        transition: 0.5s;
    };
};

.strategy__image--Two{
    display: none;
};

.section__three--strategy{
    width: 50%;
};

.section__three--content{
    h2{
        @include fontSizeText(18);
    };

    p{
        @include fontSizePar(12);
        text-indent: 5px;
    };
};

// MEDIA BREAKS
@media only screen and (max-width: 1020px){
    .section__three--image{
        display: none;
    };

    .strategy__image--Two{
        display: block;
        width: 100%;
    };

    .section__three--strategy {
        width: 100%;
    };

    .section__three--content{
        text-align: center;
    }
};

@media only screen and (max-width: 600px){
 .section__three{
        .section__three--container{
            flex-direction: column;
            padding-top: 0px;
        };
    };

    .section__three--image{
        width: 100%;
        img{
            display: block;
            margin: 0 auto;
            height: 250px;
        };
    };

    .strategy__image--Two{
        display: block;
    };

    .section__three--strategy{
        text-align: center;
    };
};


@media only screen and (max-width: 480px){
    .section__three--image{
        img{
            height: 180px;
        };
    };

    .section__three--strategy{
        width: 100%;
    };

    .section__three--content{
        h2{
            @include fontSizeText(13);
        }
        p{
            @include fontSizePar(10);
        }
    };
};