article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  width: 100%; }

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px; }

header {
  height: auto;
  border-top: 4px solid #ff3366;
  border-bottom: 4px solid #ff3366;
  background-image: url("../assets/newbackground3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.section__one {
  height: 100%; }

.section__one--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section__one--logo img {
  height: 85px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.section__one--title {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.1;
  text-align: center;
  max-width: 1130px;
  margin: 11% auto 18% auto;
  color: white;
  font-weight: 100;
  font-style: italic;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@media only screen and (max-width: 992px) {
  .section__one--title {
    font-size: 30px;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1; } }

@media only screen and (max-width: 600px) {
  .section__one--logo img {
    height: 70px; }
  .section__one--title {
    font-size: 25px;
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1;
    width: 90%;
    margin: 10% auto 20% auto; } }

@media only screen and (max-width: 480px) {
  .section__one--logo img {
    height: 40px; }
  .section__one--title {
    font-size: 20px;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1;
    text-align: center;
    width: 100%;
    margin: 14% auto 20% auto;
    color: white;
    text-shadow: 2px 2px 2px #393939; } }

.section__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0; }

.section__two--image {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.section__two--image img {
  height: 400px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.section__two--content {
  width: 70%;
  text-align: left; }
  .section__two--content h2 {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ff3366;
    -webkit-text-decoration-color: #037bc0;
    text-decoration-color: #037bc0;
    text-transform: uppercase; }
  .section__two--content p {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #3d3d3d;
    line-height: 28px;
    text-indent: 5px;
    margin-bottom: 30px; }
  .section__two--content .button {
    font-family: "roboto";
    width: 175px;
    background-color: #ff3366;
    border: 3px solid #ff809f;
    border-radius: 2rem;
    color: white;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 13px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block; }
    .section__two--content .button:hover {
      background-color: #61b99d;
      border: 3px solid #96d0be; }

.diagonal {
  border-width: 0 0 90px 100vw;
  border-bottom-color: #e8e8e8;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  position: relative; }

@media only screen and (max-width: 1020px) {
  .section__two--content {
    width: 100%;
    text-align: center; } }

@media only screen and (max-width: 768px) {
  .section__two--image img {
    height: 300px; } }

@media only screen and (max-width: 600px) {
  .section__two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section__two--container {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .section__two--container {
    width: 90%; }
  .section__two--content h2 {
    font-size: 13px;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ff3366;
    -webkit-text-decoration-color: #037bc0;
    text-decoration-color: #037bc0;
    text-transform: uppercase; }
  .section__two--content p {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #3d3d3d;
    line-height: 28px; }
  .section__two--image {
    margin-top: 20px; } }

.section__three {
  background-color: #e8e8e8;
  padding: 50px 0; }
  .section__three .section__three--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.section__three--image {
  width: 60%; }
  .section__three--image img {
    height: 300px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.strategy__image--Two {
  display: none; }

.section__three--strategy {
  width: 50%; }

.section__three--content h2 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 28px;
  color: #ff3366;
  -webkit-text-decoration-color: #037bc0;
  text-decoration-color: #037bc0;
  text-transform: uppercase; }

.section__three--content p {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  line-height: 28px;
  text-indent: 5px; }

@media only screen and (max-width: 1020px) {
  .section__three--image {
    display: none; }
  .strategy__image--Two {
    display: block;
    width: 100%; }
  .section__three--strategy {
    width: 100%; }
  .section__three--content {
    text-align: center; } }

@media only screen and (max-width: 600px) {
  .section__three .section__three--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section__three--image {
    width: 100%; }
    .section__three--image img {
      display: block;
      margin: 0 auto;
      height: 250px; }
  .strategy__image--Two {
    display: block; }
  .section__three--strategy {
    text-align: center; } }

@media only screen and (max-width: 480px) {
  .section__three--image img {
    height: 180px; }
  .section__three--strategy {
    width: 100%; }
  .section__three--content h2 {
    font-size: 13px;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ff3366;
    -webkit-text-decoration-color: #037bc0;
    text-decoration-color: #037bc0;
    text-transform: uppercase; }
  .section__three--content p {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #3d3d3d;
    line-height: 28px; } }

.diagonalTwo {
  border-width: 0 100vw 90px 0;
  border-bottom-color: white;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: #e8e8e8;
  position: relative; }

.section__four {
  padding: 50px 0; }

.section__four--contentTop {
  text-align: center; }
  .section__four--contentTop h2 {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ff3366;
    -webkit-text-decoration-color: #037bc0;
    text-decoration-color: #037bc0;
    text-transform: uppercase; }

.section__four--contentBottom {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #34495e;
  border-radius: 20px;
  margin: 0 auto; }
  .section__four--contentBottom .section__four--whatWorks p {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #3d3d3d;
    line-height: 28px;
    color: white;
    margin: 4% auto;
    text-align: center;
    width: 80%; }
    .section__four--contentBottom .section__four--whatWorks p span {
      color: #ff3366; }
  .section__four--contentBottom .section__four--mainResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section__four--contentBottom .results__content, .section__four--contentBottom .results__discover {
    width: 50%; }
  .section__four--contentBottom .stats {
    color: #ff3366; }

.results__content--stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .results__content--stat img {
    height: 45px; }
  .results__content--stat p {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #3d3d3d;
    line-height: 28px;
    margin-left: 8px;
    color: white; }

.results__discover {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  line-height: 28px; }

.results__discover--container {
  padding: 30px;
  text-indent: 5px;
  color: white; }
  .results__discover--container .whatWorks {
    font-weight: bold; }

ul {
  padding: 10px; }

.results__discover--list span {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: #3d3d3d;
  line-height: 28px;
  color: white; }

.results__discover--listItem {
  color: #ff3366;
  margin: 10px; }

@media only screen and (max-width: 1230px) {
  .section__four--contentBottom {
    width: 100%; } }

@media only screen and (max-width: 1020px) {
  .section__four--contentTop {
    text-align: center; }
    .section__four--contentTop h2 {
      font-size: 18px;
      font-size: 1.8rem;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1px;
      line-height: 28px;
      color: #ff3366;
      -webkit-text-decoration-color: #037bc0;
      text-decoration-color: #037bc0;
      text-transform: uppercase; }
  .section__four--contentBottom .results__content, .section__four--contentBottom .results__discover {
    width: 90%; }
  .section__four--contentBottom .section__four--mainResults {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .results__content--stat {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .results__content--stat p {
      font-size: 10px;
      font-size: 1rem;
      letter-spacing: 1px;
      font-family: "Roboto", sans-serif;
      color: #3d3d3d;
      line-height: 28px;
      color: white; }
  .results__discover {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #3d3d3d;
    line-height: 28px;
    text-align: center; }
  .results__discover--container {
    padding: 10px; }
  .results__discover--list span {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #3d3d3d;
    line-height: 28px;
    color: white; } }

@media only screen and (max-width: 650px) {
  .section__four--contentBottom .results__content, .section__four--contentBottom .results__discover {
    width: 100%; }
  .section__four--contentBottom .section__four--whatWorks p {
    width: 90%; } }

@media only screen and (max-width: 480px) {
  .section__four--contentTop h2 {
    font-size: 13px;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    color: #ff3366;
    -webkit-text-decoration-color: #037bc0;
    text-decoration-color: #037bc0;
    text-transform: uppercase; }
  .results__content--stat {
    text-align: left; } }

.footer {
  background-color: #34495e;
  border-bottom: 4px solid #ff3366;
  border-top: 4px solid #ff3366; }

.footer__section--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__section--logo img {
    height: 30px; }
  .footer__section--logo .blueprint__logo {
    height: 80px; }
